<div class="site-wrapper push-below-header"> 	<!-- Splash page wrapper. Starts below the navbar. -->
	
	<div class="site-wrapper-inner">
	
		<div class="cover-container"> 
			
			<div id="section0" class="section">
				<div id="splash-page-1" class="clearfix splash-page-section-wrapper"> <!-- Splash Page First Section -->
					<h2 class="app-tagline">Gift, smartr</h2>
					<h1>Choose the friend you're buying for</h1>				
					<%=image_tag("friend_pics/mel.jpg", alt: "Example Image")%>
					<i id="block" class="fa fa-arrow-down block"></i>
				</div>
			</div>

			<div id="section1" class="section">
				<div id="splash-page-2" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Second Section -->
					<h1 class="instructions">Add gift ideas</h1>
					<%=image_tag("gift_pics/stash2.jpg", alt: "Example Image")%>
					<%=image_tag("gift_pics/wp.jpg", alt: "Example Image")%>
					<%=image_tag("gift_pics/ewok.jpg", alt: "Example Image")%>

					<i id="block" class="fa fa-arrow-down block"></i>
				</div>
			</div>

			<div id="section3" class="section">
				<div id="splash-page-3" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Third Section -->
					<h1 class="instructions">Pick the friends who know them best</h1>
					<%=image_tag("friend_pics/kate.png", alt: "Example Image")%>
					<%=image_tag("friend_pics/tim.jpg", alt: "Example Image")%>
					<%=image_tag("friend_pics/norman.jpg", alt: "Example Image")%>
					<i id="block" class="fa fa-arrow-down block"></i>
				</div>
			</div>

			<div id="section4" class="section">
				<div id="splash-page-4" class="clearfix splash-page-section-wrapper"> <!-- Splash Page Fourth Section -->
					<h1 class="instructions">See which gift gets the most votes</h1>
					<img src="http://placekitten.com/g/250/250" alt="">
					<button class="btn">Sign In with Facebook to Begin</button>
				</div>
			</div>

		</div>
	
	</div>

</div>

  
