<div class="container">
  <div class="showvotes">

    <div class="row push-below-header"> <!-- Section containing Gifter & Giftee, Gift Icon, & Arrow -->
      <div class="col-lg-4 center">
        <img class="bigborders" src="http://graph.facebook.com/<%= @poll.creator.uid %>/picture?type=large" alt="Creator">
      </div>
      <div class="col-lg-4 center">
        <%=image_tag("poll_page/gift.png", alt: "Gift Image", :id => "gift-icon", :class => "inline-block")%>
        </br id="break"> <!-- Lazy, but works -->
        <!-- <i class="fa fa-long-arrow-right"></i> -->
        <img id="arrow" src="http://www.clker.com/cliparts/3/v/V/e/U/a/black-arrow-th.png" />
      </div>
      <div class="col-lg-4 center">
        <img class="bigborders" src="http://graph.facebook.com/<%= @poll.recipient_fb_id %>/picture?type=large" alt="Recipient">
      </div>
    </div>

    <div class="row"> <!-- Call To Action Section -->
       <h2 class="advice">Help <%= @poll.creator.name.split(" ").shift().to_s %> choose a gift for <%= @poll.recipient_name.split(" ").shift().to_s %> </h2>
    </div>
    <p>Ipsum convallis penatibus ut justo molestie.Mattis morbi Lorem montes torquent nascetur enim vulputate ultrices nostra congue.Nullam dapibus senectus rhoncus non vivamus hendrerit magnis per - felis porttitor sem.Commodo hac vehicula duis conubia egestas suspendisse orci - suscipit elit?Semper blandit hac elementum mollis arcu facilisi consectetur nulla libero; convallis laoreet molestie.

Commodo curabitur montes aliquam mus dictumst a mi consequat; nostra libero lobortis eu gravida.Montes sed lacinia nostra lobortis suscipit imperdiet!Dis platea commodo aliquam fringilla et cursus; vitae placerat primis eu - parturient justo.Volutpat lorem curabitur risus fames conubia sodales sociis facilisi massa, penatibus tempor laoreet.Cras aenean aliquet nulla penatibus habitasse.

Ultricies semper venenatis ornare tortor fames fermentum ultrices quis inceptos magnis - lobortis eu quam?Mus mollis cursus ultrices nulla quisque potenti.Hac nec tempus cum tristique mauris etiam pretium sit, nisl dictum feugiat condimentum.Semper natoque morbi curabitur urna mus a egestas eros: odio tincidunt purus nisl.Pharetra hac nostra libero?

Ipsum nunc a varius ridiculus suscipit sagittis elit ligula.Interdum donec quis facilisis turpis potenti.At torquent fames eros primis eget quisque feugiat?Dictumst sodales egestas primis turpis.Morbi viverra nullam elementum interdum lacinia accumsan suscipit ut parturient nibh himenaeos.

Facilisi Id condimentum habitasse.Morbi aliquet sociis massa accumsan inceptos nisi sit faucibus.Ipsum mauris per eu nisl gravida ligula?Scelerisque ante a litora cum per netus.Torquent mus Et phasellus dolor massa hendrerit iaculis faucibus condimentum.

Volutpat lorem Senectus vitae magnis nisi convallis penatibus dictum: feugiat netus euismod!Hac eget Imperdiet molestie?Ultricies platea scelerisque fusce vehicula lacinia bibendum diam nisi, purus quam feugiat sociosqu.Urna tortor Dui accumsan nam aptent tincidunt - iaculis sagittis.Morbi proin Hac ultrices placerat sociis: nam pellentesque sapien habitasse in?

Platea mus mollis malesuada ultrices posuere: consequat nostra primis suscipit porttitor...Nullam ac tincidunt potenti.Platea proin Dapibus nunc duis vulputate dui libero tellus suscipit: tempor porta potenti.Semper vestibulum viverra urna mus vehicula auctor suspendisse: donec aptent maecenas.Natoque dictumst rutrum erat bibendum nostra pulvinar lobortis tempor; netus praesent?

Magna nunc Ac fermentum consequat consectetur tellus augue penatibus turpis lacus ligula.Curae Mus nunc arcu enim vitae posuere - est per id in.Mus tempus Cum per purus dictum parturient elit.Platea suspendisse odio purus eu dictum feugiat sem.Leo aliquam arcu rhoncus egestas sapien, habitasse imperdiet porttitor.

Scelerisque mollis Rutrum enim etiam vivamus nam orci amet sit: dictum felis turpis class.Cras sollicitudin leo torquent ullamcorper rutrum est nulla - per eu penatibus taciti himenaeos sem...Accumsan condimentum dignissim.Dictumst cursus ridiculus placerat litora etiam aptent per parturient: elit sapien.Natoque bibendum tincidunt feugiat?

Cras vel aenean leo conubia interdum sodales: pretium vivamus magnis purus: convallis felis?Volutpat at elementum interdum facilisi tempor.Dis morbi aliquam cursus quis odio augue congue quam - parturient velit justo.Morbi blandit aliquam ac fusce bibendum, nostra justo.Semper scelerisque proin torquent ac nam facilisis aptent purus ad feugiat, class ligula...</p>



  </div>

  <div id="item_list" class="row">
      
  </div>      

</div><!-- END container div and voting_page div-->

<div class="row">
<div class="col-md-5 bordered voting-page" id="accomplice-photos"><span id="voters_text">Voters</span></div>
</div>
<%= render text: File.read("app/views/templates.txt").html_safe %>


<%= javascript_tag do %>
  window.poll = <%= raw @poll.to_json %>
<% end %>
<%= javascript_tag do %>
  window.user = <%= raw @user.to_json %>
<% end %>

<script type="text/javascript">
var voteList;
var myvote;
var checkVoted = function(){
  if (user == undefined) {
    $('#item_list button').addClass('hidden');
    $('#login-warning').remove();
    $('.navbar').append('<p id="login-warning" class="pull-right">Log into Facebook to register your vote</p>')
    $('#login-warning').effect("shake", {times:10}, 6000);
  }
  myvote = voteList.findWhere({user_id: user.id});
  // console.log(user.id);
  if (myvote != undefined) {
    if (myvote.attributes.item_id != null) {
      toggleVoteOption();
    }
  } else {
    $('#item_list button').addClass('hidden');
  }
}

  $(function(){

    itemVoteSetup();
    voteList = new VoteList()
    voteList.fetch({data: {poll_id: poll.id},
      success: function(response){
        _.each(response.models, function(model){
          var img_url = model.attributes.image_url
          $('#accomplice-photos').append('<img id="' + model.attributes.id + '" class="accomplice" src="' + img_url + '">')
        })
        appendVotesToItems(voteList.models);
        checkVoted();
      }
    })
    window.voters = new UserList()
    voters.fetch(
      {data: {poll_id: poll.id}}, 
      {success: function(){myvote = voteList.findWhere({user_id: user.id})}
      })
    $('#accomplice-photos').append('<button id="toggleVoteButton" class="btn btn-lg btn-danger hidden">Change Your Vote</button>');
    $('#toggleVoteButton').click(function(){
      toggleVoteOption();
    });
    checkVoted();

    

/////////// ACCOMPLICE VOTING
    // userList = new UserList()
    // userList.fetch({data: {poll_id: poll.id}})

  })

////HERE WE CAN PUT STUFF IF WE WANT THE PAGE TO CHECK FOR UPDATES:
// window.setInterval(function(){


// }, 400);
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.fullpage({ 
          autoScrolling: false,            
          resize : false, // Stops the splash page from resizing it's text when the page width is changed.
          
        anchors: ['firstPage', 'secondPage', '3rdPage', 'lastPage'] //Tells fullPage that we're scrolling through four page sections.
        });
    }); 
</script>



