<div class="container">
  <div class="showvotes">

    <div class="row push-below-header"> <!-- Section containing Gifter & Giftee, Gift Icon, & Arrow -->
      <div class="col-lg-4 center">
        <img class="bigborders" src="http://graph.facebook.com/<%= @poll.creator.uid %>/picture?type=large" alt="Creator">
      </div>
      <div class="col-lg-4 center">
        <%=image_tag("poll_page/gift.png", alt: "Gift Image", :id => "gift-icon", :class => "inline-block")%>
        </br> <!-- Lazy, but works -->
        <!-- <i class="fa fa-long-arrow-right"></i> -->
        <img id="arrow" src="http://www.clker.com/cliparts/3/v/V/e/U/a/black-arrow-th.png" />
      </div>
      <div class="col-lg-4 center">
        <img class="bigborders" src="http://graph.facebook.com/<%= @poll.recipient_fb_id %>/picture?type=large" alt="Recipient">
      </div>
    </div>

    <div class="row"> <!-- Call To Action Section -->
       <h2 class="advice">Help <%= @poll.creator.name.split(" ").shift().to_s %> choose a gift for <%= @poll.recipient_name.split(" ").shift().to_s %> </h2>
    </div>

  </div>


    <div id="item_list" class="row">
      
    </div>      


</div><!-- END container div -->


<div class="col-md-12 bordered" id="accomplice-photos">Voters:</div>

<%= render text: File.read("app/views/templates.txt").html_safe %>


<%= javascript_tag do %>
  window.poll = <%= raw @poll.to_json %>
<% end %>
<%= javascript_tag do %>
  window.user = <%= raw @user.to_json %>
<% end %>

<script type="text/javascript">
var voteList;
var myvote;
var checkVoted = function(){
  if (user == undefined) {
    $('#item_list button').addClass('hidden');
    $('#login-warning').remove();
    $('.navbar').append('<p id="login-warning" class="pull-right">Log into Facebook to register your vote</p>')
    $('#login-warning').effect("shake", {times:10}, 6000);
  }
  myvote = voteList.findWhere({user_id: user.id});
  // console.log(user.id);
  if (myvote != undefined) {
    if (myvote.attributes.item_id != null) {
      toggleVoteOption();
    }
  } else {
    $('#item_list button').addClass('hidden');
  }
}

  $(function(){

    itemVoteSetup();
    voteList = new VoteList()
    voteList.fetch({data: {poll_id: poll.id},
      success: function(response){
        _.each(response.models, function(model){
          var img_url = model.attributes.image_url
          $('#accomplice-photos').append('<img id="' + model.attributes.id + '" class="accomplice" src="' + img_url + '">')
        })
        appendVotesToItems(voteList.models);
        checkVoted();
      }
    })
    window.voters = new UserList()
    voters.fetch(
      {data: {poll_id: poll.id}}, 
      {success: function(){myvote = voteList.findWhere({user_id: user.id})}
      })
    $('#accomplice-photos').append('<button id="toggleVoteButton" class="btn btn-lg btn-danger hidden">Change Your Vote</button>');
    $('#toggleVoteButton').click(function(){
      toggleVoteOption();
    });
    checkVoted();

    

/////////// ACCOMPLICE VOTING
    // userList = new UserList()
    // userList.fetch({data: {poll_id: poll.id}})

  })

////HERE WE CAN PUT STUFF IF WE WANT THE PAGE TO CHECK FOR UPDATES:
// window.setInterval(function(){


// }, 400);
</script>



