<div class="container">

  <br>

  <h2>Poll Creator: <%= @poll.creator.name %> </h2>

  <h3>Possible Gifts:</h3>

  <div id="item_list"></div>

  <div class="col-md-1 column-md-offset-10" id="accomplice-photos"></div>

</div>

<%= render text: File.read("app/views/templates.txt").html_safe %>


<%= javascript_tag do %>
  window.poll = <%= raw @poll.to_json %>
<% end %>
<%= javascript_tag do %>
  window.user = <%= raw @user.to_json %>
<% end %>

<script type="text/javascript">
var voteList;
  $(function(){

    itemVoteSetup();
    voteList = new VoteList()
    voteList.fetch({data: {poll_id: poll.id},
      success: function(response){
        _.each(response.models, function(model){
          var img_url = model.attributes.image_url
          $('#accomplice-photos').append('<img id="' + model.attributes.id + '" src="' + img_url + '">')
        })
        appendVotesToItems(voteList.models);
      }
    })
    window.voters = new UserList()
    voters.fetch({data: {poll_id: poll.id}})

    

/////////// ACCOMPLICE VOTING
    // userList = new UserList()
    // userList.fetch({data: {poll_id: poll.id}})

  })
</script>



