<div class="container">

  <br>
  <div class="row">
    <h1 class="col-md-9 advice"><%= @poll.creator.name %> needs your advice on something for <%= @poll.recipient_name %> </h1>
    <img class="col-md-3" src="http://graph.facebook.com/<%= @poll.recipient_fb_id %>/picture?type=large" alt="Creator">
  </div>
  <hr>
  <div class="row">
    <h3>Votes for his ideas: (one per person)</h3>
    <div class="text-center">
        <div id="item_list"></div>      
    </div>
    <div class="col-md-1 column-md-offset-10 bordered" id="accomplice-photos">Voters:</div>
  </div>
</div>

<%= render text: File.read("app/views/templates.txt").html_safe %>


<%= javascript_tag do %>
  window.poll = <%= raw @poll.to_json %>
<% end %>
<%= javascript_tag do %>
  window.user = <%= raw @user.to_json %>
<% end %>

<script type="text/javascript">
var voteList;
var myvote;
var checkVoted = function(){
  myvote = voteList.findWhere({user_id: user.id});
  // console.log(user.id);
  if (myvote != undefined) {
    if (myvote.attributes.item_id != null) {
      toggleVoteOption();
    }
  } else {
    $('#item_list button').addClass('hidden');
  }
}

  $(function(){

    itemVoteSetup();
    voteList = new VoteList()
    voteList.fetch({data: {poll_id: poll.id},
      success: function(response){
        _.each(response.models, function(model){
          var img_url = model.attributes.image_url
          $('#accomplice-photos').append('<img id="' + model.attributes.id + '" class="accomplice" src="' + img_url + '">')
        })
        appendVotesToItems(voteList.models);
        checkVoted();
      }
    })
    window.voters = new UserList()
    voters.fetch(
      {data: {poll_id: poll.id}}, 
      {success: function(){myvote = voteList.findWhere({user_id: user.id})}
      })
    $('#accomplice-photos').append('<button id="toggleVoteButton" class="btn btn-lg btn-primary hidden">Change Your Vote</button>');
    $('#toggleVoteButton').click(function(){
      toggleVoteOption();
    });
    checkVoted();

    

/////////// ACCOMPLICE VOTING
    // userList = new UserList()
    // userList.fetch({data: {poll_id: poll.id}})

  })

////HERE WE CAN PUT STUFF IF WE WANT THE PAGE TO CHECK FOR UPDATES:
// window.setInterval(function(){


// }, 400);
</script>



